<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rule Engine</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <script src='http://localhost:3000/socket.io/socket.io.js'></script>
     
        <script>
              
            var socket = io.connect('//localhost:3000');
            
            socket.on('objTemp', function(data) {
                $('#objTemp').html(data.objTemp);                
            });
              socket.on('ambTemp', function(data) {
                $('#ambTemp').html(data.ambTemp);
            });
              socket.on('humTemp', function(data) {
                $('#humTemp').html(data.humTemp);
            }); 
              socket.on('humidity', function(data) {
                $('#humidity').html(data.humidity);
            });
               socket.on('Pressure', function(data) {
                $('#Pressure').html(data.Pressure);
            });
            socket.on('error', function() { console.error(arguments) });
            socket.on('message', function() { console.log(arguments) });
           
        </script>
</head>

<body>
    <div>
    <p id="objTemp" style='color:red'></p>
    <p id="ambTemp" style='color:red'></p>
    <p id="humTemp" hidden></p>
    <p id="humidity" hidden></p>
    <p id="Pressure" hidden></p>
</div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">SIEMT</a>
            </div>
            <!-- Top Menu Items -->
           <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                  <% if(userName=='ADMIN') {%>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="/signup"><i class="fa fa-fw fa-gear"></i> Signup</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                    <% } else {%>
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=userName%> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                <%}%>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/temp"><i class="fa fa-fw fa-bar-chart-o"></i> Temperature</a>
                    </li>
                    <li>
                        <a href="/humidity"><i class="fa fa-fw fa-table"></i> Humidity</a>
                    </li>
                    <li>
                        <a href="/pressure"><i class="fa fa-fw fa-table"></i> Pressure</a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Rule Engine
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Rule Engine</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">

                        <form role="form">

                            <div class="form-group">
                                <label>Rule Name</label>
                            <input class="form-control" id="rn" placeholder="Enter Rule name" style="width:700px;">
                            <div class="checkbox">
                                   <label>
                                    <input type="checkbox" value="">This rule is active
                                    </label>
                            </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                <select class="form-control" id="criteria">
                                    <option>Temperature</option>
                                    <option>Humidity</option>
                                </select>
                            </div>
                             <div class="col-lg-1">
                                <select class="form-control" id="condi">
                                    <option value="$gte">&ge;</option>
                                    <option value="$gt">&gt;</option>
                                    <option value="$lt">&lt;</option>
                                    <option value="$lte">&le;</option>
                                    <option value="$eq">&#61;</option>
                                </select>
                            </div>
                             <div class="col-lg-2">
                                  <input id="rulevalue" class="form-control" placeholder="Enter value" style="width:300px;">
                            </div>
                            <div class="col-lg-2"></div>
                             <div class="col-lg-2">
                                 <select class="form-control" id="actionvalue">
                                    <option>Alert user</option>
                                    <option>Send email notification to user</option>
                                    <option>Shut down system</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                            </div>
                             <div class="col-lg-2">
                                  <button type="submit" class="btn btn-primary" id="addrule">Add Rule</button>
                            </div>
                                </div>
                            </div>

                            
                          <!--  <button type="reset" class="btn btn-default">Reset</button>-->

                        </form>

                    </div>
                </div>

                <div class="container-fluid">
                    <h2>Configured Rules</h2>
                    <div class="row">
                    <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">Rule Name</th>
                                    <th style="text-align: left;">Criteria</th>
                                    <th style="text-align: left;">Value</th>
                                    <th style="text-align: left;">Actions</th>
                                    <th style="text-align: left;"> </th>
                                   
                                </tr>
                            </thead> 
                        </table>
                    </div>
                </div>
                    <div class="input_fields_wrap"> 
                    </div>
                    
                </div>
                </div>


                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

  </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $("#addrule"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
       
        var criteria=document.getElementById('criteria').value;
        var criteriaVal=document.getElementById('condi').value;
        var ruleval=document.getElementById('rulevalue').value;
        var Action=document.getElementById('actionvalue').value;
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            //$(wrapper).append('<div>'+criteria+" "+ criteriaVal+" "+ ruleval+"   " +'<a href="#" class="remove_field">Remove</a><button type="submit" class="btn btn-primary">Test Rule</button></div>'); //add input box
             $(wrapper).append('<div style="display:inline;"> <div class="col-lg-12"><div class="table-responsive"><table class="table table-hover table-striped"><thead><tr><th style="text-align: left;"></th><th style="text-align: left;"></th><th style="text-align: left;"></th><th style="text-align: left;"></th><th style="text-align: left;"></th></tr></thead><tbody><tr><td style="text-align: left;">'+criteria+'</td><td style="text-align: left;">'+criteriaVal+'</td><td style="text-align: left;">'+ruleval+'</td><td style="text-align: left; id=\'action\'">'+Action+'</td><td style="text-align: left;"><button type="submit" class="btn btn-primary" onclick="testrule()">Test Rule</button></td></tr></tbody></table></div></div><br><a style="padding-left:30px" href="#" class="remove_field">Remove</a></div>');
        }
    });
   
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>
<script type="text/javascript">
 window.onload = function testrule(){
        var criteria=document.getElementById('criteria').value;
        var criteriaVal=document.getElementById('condi');
        var condop=criteriaVal.options[criteriaVal.selectedIndex].value;
        var ruleval=document.getElementById('rulevalue').value;
        var Action=document.getElementById('actionvalue').value;
        
        socket.on('objTemp', function(data) {
              if(data.objTemp>=ruleval){
              alert('temp>rulevalue');
               document.getElementById('action').style.color='red';
              }
            });
       
    // var datastr={
    //     "criteria":criteria,
    //     "criteriaVal":condop,
    //     "ruleval":ruleval,
    //     "Action":Action
    // };
    //alert(JSON.stringify(datastr));
//     $.ajax({
//     type: "POST",
//     data: JSON.stringify(datastr),
//     contentType: 'application/json',
//     url: "/testrule",
//     success: function(data){
//        // alert(data);
//         if(data!=null)
//         alert(Action);
//     else 
//         alert("rules not met");
//     },
//     failure: function(errMsg) {
//         alert(errMsg);
//     }
// });

}
</script>
</body>

</html>